img {
  object-fit: cover;
  height: 12rem;
}

div {
  font-family: sans-serif;
}

.remove_btn {
  position: absolute;
  top: 1rem;
  right: 10%;
}

@media screen and (max-width: 767px) {
  .remove_btn {
    right: 50%;
    transform: translateX(100%);
  }
}
