<p-toast></p-toast>
<p-card
  [header]="product.title"
  [subheader]="product.subTitle"
  [style]="{ width: '360px' }"
  class="flex justify-content-center mb-4 relative"
>
  <ng-template pTemplate="header">
    <img alt="Card" [src]="product.imageURL" />
  </ng-template>
  <div class="relative">
    <p>
      {{ product.content }}
    </p>
    <span class="flex align-items-center gap-2 absolute top-0 right-0">
      <i class="pi pi-tag"></i>
      <span class="text-xl font-italic font-semibold text-600">{{
        '$' + product.price
      }}</span>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      [loading]="loading"
      styleClass="p-button-raised p-button-warning w-full mt-4 flex justify-content-center gap-2"
      (onClick)="onAddBasket(product)"
    >
      <i class="pi pi-shopping-bag" *ngIf="!loading"></i>
      <span class="ml-2 font-bold" *ngIf="!loading">Add to Basket</span>
      <span class="ml-2 font-bold" *ngIf="loading">Adding</span>
    </p-button>
  </ng-template>
</p-card>
