<div class="container">
  <!-- <div class="card">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <img
          src="https://primefaces.org/cdn/primeng/images/primeng.svg"
          height="40"
          class="mr-2 cursor-pointer"
          routerLink="/home"
        />
      </ng-template>
      <p-badge value="2"></p-badge>
    </p-menubar>
  </div> -->

  <!-- CUSTOM NAVBAR start -->
  <nav class="flex gap-4 px-6 py-3 bg-gray-50">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng.svg"
      height="40"
      class="mr-2 cursor-pointer"
      routerLink="/home"
    />
    <a routerLink="/basket">
      <p-button
        label="Basket"
        icon="pi pi-shopping-cart"
        styleClass="p-button-secondary p-button-text p-button-sm"
        badge="{{ basketProducts.length !== 0 ? basketProducts.length : null }}"
        badgeClass="p-badge-info"
      ></p-button>
    </a>
  </nav>
  <!-- CUSTOM NAVBAR end -->

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <p class="text-500 text-sm text-center p-3 h-3rem">
    angular | e-commerce website
  </p>
</div>
