<div class="mx-8">
  <p-toast></p-toast>
  <p-button
    styleClass="p-button-raised p-button-success w-full mt-4 flex justify-content-center"
    (click)="showModal()"
  >
    <i class="pi pi-cart-plus text-xl"></i>
    <span class="ml-2 font-bold">Add Product</span>
  </p-button>

  <p class="font-bold text-xl text-500">Products</p>
  <p-divider></p-divider>

  <!-- Products -->
  <!-- **** products will use with Card Component **** -->
  <div class="card grid">
    <p-card
      *ngFor="let product of products"
      [header]="product.title"
      [subheader]="product.subTitle"
      [style]="{ width: '360px' }"
      class="col-12 sm:col-6 lg:col-4 xl:col-3 flex justify-content-center mb-4"
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="product.imageURL" />
      </ng-template>
      <p>
        {{ product.content }}
      </p>
      <ng-template pTemplate="footer">
        <!-- <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary ml-2"
        ></p-button> -->
        <p-button
          [loading]="loading"
          styleClass="p-button-raised p-button-warning w-full mt-4 flex justify-content-center"
          (onClick)="onAddBasket(product)"
        >
          <i class="pi pi-shopping-bag" *ngIf="!loading"></i>
          <span class="ml-2 font-bold" *ngIf="!loading">Add to Basket</span>
          <span class="ml-2 font-bold" *ngIf="loading">Adding</span>
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>
