<div class="mx-8">
  <p-toast></p-toast>
  <p-button
    styleClass="p-button-raised p-button-success w-full mt-4 flex justify-content-center"
    (click)="showModal()"
  >
    <i class="pi pi-cart-plus text-xl"></i>
    <span class="ml-2 font-bold">Add Product</span>
  </p-button>

  <p class="font-bold text-xl text-500">Products</p>
  <p-divider></p-divider>

  <!-- Products -->
  <div class="grid">
    <app-card
      class="card col-12 sm:col-6 lg:col-4 xl:col-3"
      *ngFor="let product of products"
      [productItem]="product"
    ></app-card>
  </div>
</div>
